Repository ctclostio/DnD-Game: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, go-fmt, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks - run tests before committing
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && go test ./... -short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$

      - id: go-fmt
        name: Go Formatting
        entry: bash -c 'cd backend && gofmt -l . | grep . && exit 1 || exit 0'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$

      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(js|jsx|ts|tsx)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']

fix: handle remaining errcheck errors in services and tests
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/websocket_integration_test.go
  backend/internal/middleware/logging_v2_test.go
  backend/internal/services/world_event_engine.go
Due: backend-tests, go-fmt

created some quickwins documents
  IMPLEMENTATION_PLAN_PHASE_1_2_QUICKWINS.md
Due: none

fix: update CI workflow to use Go 1.23
  .github/workflows/ci.yml
Due: none

fix: remove duplicate field declarations in game_session_test.go
  backend/internal/services/game_session_test.go
Due: backend-tests, go-fmt

fix: resolve backend lint errors
  backend/.golangci.yml
  backend/cmd/server/main.go
  backend/internal/constants/database.go
  backend/internal/database/campaign_repository.go
  backend/internal/database/game_session_repository.go
  backend/internal/database/npc_repository.go
  backend/internal/database/rule_builder_repository.go
  backend/internal/handlers/game_security_test.go
  backend/internal/websocket/handler.go
Due: backend-tests, go-fmt

Fix lint issues and improve cleanup
  backend/cmd/server/main.go
  backend/internal/config/config_test.go
  backend/internal/crdt/ws.go
  backend/internal/database/character_repository.go
  backend/internal/database/custom_class_repository.go
  backend/internal/database/custom_race_repository.go
  backend/internal/database/dice_roll_repository.go
  backend/internal/database/dm_assistant_repository.go
  backend/internal/database/init.go
  backend/internal/database/inventory_repository_test.go
  backend/internal/database/user_repository_test.go
  backend/internal/game/combat_engine.go
  backend/internal/handlers/auth_integration_test.go
  backend/internal/handlers/character_integration_test.go
  backend/internal/handlers/combat_integration_test.go
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/game_session_integration_test.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/health_new.go
  backend/internal/handlers/swagger.go
  backend/internal/handlers/test_helpers.go
  backend/internal/handlers/websocket_integration_test.go
  backend/internal/health/checker.go
  backend/internal/health/db_checker.go
  backend/internal/middleware/ratelimit.go
  backend/internal/middleware/recovery.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/game_session.go
  backend/internal/services/interfaces.go
  backend/internal/services/living_ecosystem.go
  backend/internal/services/llm_providers.go
  backend/internal/services/refresh_token.go
  backend/internal/services/services.go
  backend/internal/test/helpers.go
  backend/internal/testutil/database.go
  backend/internal/testutil/db_test_utils.go
  backend/internal/testutil/integration_helpers.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/handler_v2.go
  backend/internal/websocket/hub.go
Due: backend-tests, go-fmt

fix: resolve remaining goconst lint errors
  backend/internal/constants/abilities.go
  backend/internal/database/emergent_world_repository.go
  backend/internal/database/rule_builder_repository.go
  backend/internal/handlers/skill_check.go
  backend/internal/websocket/handler.go
Due: backend-tests, go-fmt

fix: resolve all golangci-lint errors
  backend/internal/database/campaign_repository.go
  backend/internal/database/character_repository.go
  backend/internal/database/custom_class_repository.go
  backend/internal/database/game_session_repository.go
  backend/internal/database/inventory_repository.go
  backend/internal/database/narrative_repository.go
  backend/internal/database/npc_repository.go
  backend/internal/database/rule_builder_repository.go
  backend/internal/database/world_building_repository.go
  backend/internal/handlers/game_session_integration_test.go
  backend/internal/services/ai_battle_map_generator.go
  backend/internal/services/ai_campaign_manager.go
  backend/internal/services/ai_narrative_engine.go
  backend/internal/services/combat_automation.go
  backend/internal/services/game_session.go
  backend/internal/services/procedural_culture.go
  backend/internal/services/rule_engine.go
  backend/internal/services/settlement_generator_test.go
  backend/internal/services/test_helpers_test.go
  backend/internal/services/world_event_engine.go
Due: backend-tests, go-fmt

UX enhancements
  FRONTEND_UX_IMPROVEMENTS.md
  frontend/src/components/CharacterBuilderView.js
Due: frontend-lint

fix: handle random economic conditions in settlement market test
  backend/internal/services/settlement_generator_test.go
Due: backend-tests, go-fmt

fix: resolve all backend lint errors
  backend/.golangci.yml
  backend/internal/handlers/dm_assistant.go
  backend/internal/handlers/game.go
  backend/internal/handlers/helpers.go
  backend/internal/handlers/inventory.go
  backend/internal/handlers/inventory_helpers.go
  backend/internal/handlers/npc.go
Due: backend-tests, go-fmt

fix: resolve remaining backend lint errors
  backend/GOCRITIC_FIXES_SUMMARY.md
  backend/LINT_FIXES_SUMMARY.md
  backend/internal/constants/strings.go
  backend/internal/database/campaign_repository.go
  backend/internal/database/game_session_repository.go
  backend/internal/game/combat_engine.go
  backend/internal/handlers/auth_integration_test.go
  backend/internal/handlers/combat_integration_test.go
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/websocket_integration_test.go
  backend/internal/services/ai_balance_analyzer.go
  backend/internal/services/ai_battle_map_generator.go
  backend/internal/services/ai_character.go
  backend/internal/services/character.go
  backend/internal/services/combat_automation.go
  backend/internal/services/dice_roll.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/encounter.go
  backend/internal/services/mocks/repositories.go
  backend/internal/services/mocks/services.go
  backend/internal/services/procedural_culture.go
  backend/internal/testutil/assertions.go
  backend/internal/testutil/builders.go
  backend/internal/testutil/helpers.go
  backend/internal/testutil/integration_helpers.go
  backend/internal/testutil/mocks/game_session_repository.go
  backend/internal/testutil/mocks/llm_provider.go
  backend/pkg/logger/logger_enhanced.go
Due: backend-tests, go-fmt

fix: resolve additional goconst lint errors
  backend/internal/constants/strings.go
  backend/internal/services/ai_balance_analyzer.go
  backend/internal/services/ai_character.go
  backend/internal/services/ai_encounter_builder.go
  backend/internal/services/campaign.go
  backend/internal/services/character.go
  backend/internal/services/combat_automation.go
  backend/internal/services/conditional_reality.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/faction_system.go
  backend/internal/services/procedural_culture.go
  backend/pkg/logger/logger_enhanced.go
Due: backend-tests, go-fmt

fix: resolve majority of goconst lint errors
  backend/cmd/server/main.go
  backend/internal/constants/game_constants.go
  backend/internal/handlers/rule_builder.go
  backend/internal/services/ai_battle_map_generator.go
  backend/internal/services/ai_character.go
  backend/internal/services/ai_encounter_builder.go
  backend/internal/services/character.go
  backend/internal/services/combat_analytics.go
  backend/internal/services/combat_automation.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/faction_personality.go
  backend/internal/services/living_ecosystem.go
  backend/internal/services/procedural_culture.go
Due: backend-tests, go-fmt

fix: resolve golangci-lint schema validation timeout in CI
  .github/workflows/ci.yml
  backend/.golangci.yml
Due: none

fix: remove invalid skip-dirs-use-default from golangci config
  backend/.golangci.yml
Due: none

fix: resolve golangci-lint issues in logger and living ecosystem
  backend/internal/services/living_ecosystem.go
  backend/pkg/logger/logger_enhanced_test.go
Due: backend-tests, go-fmt

fix: resolve goconst lint errors by extracting string constants
  backend/internal/handlers/campaign.go
  backend/internal/handlers/character.go
  backend/internal/handlers/constants.go
  backend/internal/services/ai_balance_analyzer.go
  backend/internal/services/ai_character.go
  backend/internal/services/ai_dm_assistant.go
  backend/internal/services/ai_encounter_builder.go
  backend/internal/services/character.go
  backend/internal/services/combat_analytics.go
  backend/internal/services/combat_automation.go
  backend/internal/services/encounter.go
  backend/internal/services/faction_personality.go
  backend/internal/services/settlement_generator.go
Due: backend-tests, go-fmt

fix: resolve critical lint errors (goconst and dupl)
  backend/internal/constants/game_constants.go
  backend/internal/handlers/emergent_world.go
  backend/internal/handlers/npc.go
  backend/internal/services/ai_balance_analyzer.go
  backend/internal/services/ai_character.go
  backend/internal/services/ai_dm_assistant.go
  backend/internal/services/ai_encounter_builder.go
  backend/internal/services/character.go
  backend/internal/services/combat_analytics.go
  backend/internal/services/combat_automation.go
  backend/internal/services/constants.go
  backend/internal/services/encounter.go
  backend/internal/services/faction_personality.go
  backend/internal/services/settlement_generator.go
  backend/pkg/logger/logger_test.go
Due: backend-tests, go-fmt

fix: resolve multiple lint errors (misspell, unparam, redefines-builtin-id, var-naming)
  backend/internal/database/connection.go
  backend/internal/database/dm_assistant_repository.go
  backend/internal/database/encounter_repository.go
  backend/internal/database/migrations/012_create_dm_assistant_tables.up.sql
  backend/internal/handlers/dm_assistant.go
  backend/internal/handlers/game.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/helpers.go
  backend/internal/handlers/inventory.go
  backend/internal/handlers/inventory_helpers.go
  backend/internal/handlers/npc.go
  backend/internal/models/dm_assistant.go
  backend/internal/routes/dm_assistant.go
  backend/internal/services/ai_balance_analyzer.go
  backend/internal/services/ai_campaign_manager.go
  backend/internal/services/ai_dm_assistant.go
  backend/internal/services/ai_dm_assistant_test.go
  backend/internal/services/ai_narrative_engine.go
  backend/internal/services/combat_analytics.go
  backend/internal/services/combat_automation_test.go
  backend/internal/services/dm_assistant.go
  backend/internal/services/dm_assistant_test.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/encounter_test.go
  backend/internal/services/interfaces.go
  backend/internal/services/mocks/repositories.go
  backend/internal/services/mocks/services.go
  backend/internal/services/rule_engine.go
  backend/internal/testutil/builders.go
  backend/internal/testutil/mock_factory.go
  backend/internal/testutil/mocks/llm_provider.go
  backend/internal/websocket/dm_assistant_handler.go
Due: backend-tests, go-fmt

fix: resolve critical compilation and exhaustive switch errors
  backend/internal/services/combat_automation_test.go
  backend/pkg/response/response.go
Due: backend-tests, go-fmt

fix: critical performance improvements and deep lint analysis
  backend/LINT_ANALYSIS_DEEP_DIVE.md
  backend/internal/database/connection.go
  backend/internal/database/init.go
  backend/internal/services/interfaces.go
  backend/internal/services/mocks/services.go
  backend/internal/services/test_helpers_test.go
  backend/internal/testutil/assertions.go
  backend/internal/websocket/dm_assistant_handler.go
Due: backend-tests, go-fmt

fix: resolve new backend lint errors after refactoring
  backend/internal/constants/abilities.go
  backend/internal/constants/database.go
  backend/internal/constants/game_constants.go
  backend/internal/constants/strings.go
  backend/internal/crdt/crdt.go
  backend/internal/database/interfaces/campaign.go
  backend/internal/database/interfaces/combat_analytics.go
  backend/internal/database/interfaces/dm_assistant.go
  backend/internal/database/interfaces/game_session.go
  backend/internal/database/interfaces/npc.go
  backend/internal/game/combat_engine.go
  backend/internal/handlers/character_creation.go
  backend/internal/handlers/character_test_refactored.go
  backend/internal/middleware/logging_v2_test.go
  backend/internal/services/ai_character_test.go
  backend/internal/services/combat_analytics_refactored.go
  backend/internal/services/combat_analytics_refactored_v2.go
  backend/internal/services/combat_analytics_test_refactored.go
  backend/internal/services/encounter_objectives_refactored.go
  backend/internal/services/interfaces/ai_dm_assistant.go
  backend/internal/services/interfaces/combat_service.go
  backend/internal/services/spell_slots_refactored.go
  backend/internal/test/helpers.go
  backend/internal/testhelpers/assertions.go
  backend/internal/testhelpers/auth_helpers.go
  backend/internal/testhelpers/builders.go
  backend/internal/testhelpers/database_helpers.go
  backend/internal/testhelpers/http_helpers.go
  backend/internal/testhelpers/mock_helpers.go
  backend/internal/testutil/assertions.go
  backend/internal/testutil/db_test_utils.go
  backend/internal/testutil/fixtures.go
  backend/internal/testutil/helpers.go
  backend/internal/testutil/http_test_utils.go
  backend/internal/testutil/integration_helpers.go
  backend/internal/testutil/mock_factory.go
Due: backend-tests, go-fmt

fix: convert large parameter structs to pointers and fix remaining lint issues
  backend/cmd/server/main.go
  backend/internal/database/npc_repository.go
  backend/internal/database/repository.go
  backend/internal/handlers/auth_integration_test.go
  backend/internal/handlers/combat_integration_test.go
  backend/internal/handlers/migration_helpers.go
  backend/internal/handlers/npc.go
  backend/internal/middleware/logging_v2_test.go
  backend/internal/services/ai_class_generator.go
  backend/internal/services/ai_class_generator_test.go
  backend/internal/services/ai_dm_assistant.go
  backend/internal/services/ai_dm_assistant_test.go
  backend/internal/services/character.go
  backend/internal/services/dm_assistant.go
  backend/internal/services/dm_assistant_test.go
  backend/internal/services/interfaces.go
  backend/internal/services/mocks/repositories.go
  backend/internal/services/mocks/services.go
  backend/internal/services/npc.go
  backend/internal/services/npc_test.go
  backend/internal/testutil/integration_helpers.go
  backend/internal/websocket/dm_assistant_handler.go
  backend/pkg/logger/logger_enhanced.go
  backend/pkg/logger/logger_enhanced_test.go
Due: backend-tests, go-fmt

fix: dereference ConfigV2 pointer in LoggerV2 constructor
  backend/pkg/logger/logger_enhanced.go
Due: backend-tests, go-fmt

refactor: eliminate 42.5% of code duplication through abstraction
  backend/DUPL_REFACTORING_SUMMARY.md
  backend/internal/database/character_repository.go
  backend/internal/database/dice_roll_repository.go
  backend/internal/database/dm_assistant_repository.go
  backend/internal/database/game_session_repository.go
  backend/internal/database/rule_builder_repository.go
  backend/internal/database/scan_helpers.go
  backend/internal/handlers/dm_assistant.go
  backend/internal/handlers/handler_helpers.go
  backend/internal/handlers/narrative.go
  backend/internal/handlers/world_building.go
  backend/internal/services/ai_character.go
  backend/internal/services/campaign_test.go
  backend/internal/services/character_builder.go
  backend/internal/services/faction_personality.go
  backend/internal/services/npc.go
  backend/internal/services/npc_test.go
  backend/internal/services/saving_throw_helpers.go
  backend/internal/services/settlement_generator_test.go
Due: backend-tests, go-fmt

fix: update DM assistant test mocks to expect pointer types
  backend/internal/services/dm_assistant_test.go
Due: backend-tests, go-fmt

ci: update SonarCloud integration and improve code quality analysis
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

fix: update SonarCloud project key to match repository name
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

fix: resolve SonarCloud bugs - duplicate conditionals and accessibility
  CLAUDE.md
  backend/internal/database/game_session_repository.go
  frontend/src/components/CharacterBuilder/AbilityScoresStep.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/WorldSimulation/CultureExplorer.js
  frontend/src/components/WorldSimulation/FactionPersonalities.js
Due: backend-tests, go-fmt, frontend-lint

fix(ci): remove hardcoded PostgreSQL password and use POSTGRES_PASSWORD GitHub secret
  .github/workflows/ci.yml
Due: none

Remove exposed secrets and update .gitignore to prevent future leaks
  .gitignore
Due: none

fix: address major SonarCloud bugs - SQL injection, panic handling, duplicate conditions
  backend/cmd/server/main.go
  backend/internal/services/faction_personality.go
  backend/internal/services/game_session.go
  backend/internal/services/settlement_generator.go
  backend/internal/testutil/database.go
  frontend/src/styles/narrative-engine.css
Due: backend-tests, go-fmt

fix(security): prevent XSS in test.html and refactor test password usage in user_test.go
  backend/internal/services/user_test.go
Due: backend-tests, go-fmt
