Repository ctclostio/DnD-Game: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, go-fmt, frontend-lint

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && go test ./... -short'
  language: system
  pass_filenames: false

go-fmt:
  name: Go Formatting
  entry: bash -c 'cd backend && gofmt -l . | grep . && exit 1 || exit 0'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix: reduce cognitive complexity in PerspectiveViewer component
  frontend/src/components/NarrativeEngine/PerspectiveViewer.js
Due: frontend-lint

feat: implement cache background revalidation and settlement prosperity updates
  backend/internal/database/world_building_repository.go
  backend/internal/database/world_building_repository_test.go
  backend/internal/middleware/cache.go
  backend/internal/services/living_ecosystem.go
Due: backend-tests, go-fmt

fix: resolve SonarCloud code smells
  backend/internal/services/inventory_test.go
  frontend/src/components/NarrativeEngine/PerspectiveViewer.js
Due: backend-tests, go-fmt, frontend-lint

fix: resolve SonarCloud code quality issues
  frontend/src/pages/DMTools.tsx
  frontend/src/services/api.ts
  frontend/src/store/config.ts
  frontend/src/store/index.ts
  frontend/src/styles/world-simulation.css
  frontend/src/utils/csrf.js
  playwright.config.ts
Due: frontend-lint

fix: resolve TODO comments and improve code clarity
  frontend/src/components/CharacterBuilder/CustomClassForm.tsx
  frontend/src/components/CharacterBuilder/CustomRaceForm.tsx
  frontend/src/index.js
  frontend/src/store/slices/gameSessionSlice.ts
Due: frontend-lint

fix: resolve major severity code smells from SonarCloud
  backend/internal/handlers/game_test.go
  backend/internal/services/combat_analytics_test.go
  backend/internal/services/mocks/repositories.go
  backend/internal/services/world_event_engine_test.go
  backend/pkg/response/response.go
  frontend/src/components/CharacterBuilder/SkillSelectionStep.test.tsx
  frontend/src/components/Modal.tsx
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/pages/Register.tsx
Due: backend-tests, go-fmt, frontend-lint

fix: resolve remaining major code smells from SonarCloud
  backend/internal/handlers/migration_helpers.go
  backend/internal/middleware/validation_v2.go
  backend/internal/services/npc_test.go
  backend/internal/testutil/mock_factory.go
  frontend/Dockerfile.optimized
  frontend/src/components/Modal.tsx
Due: backend-tests, go-fmt, frontend-lint

fix: resolve minor code smells from SonarCloud
  backend/internal/services/settlement_generator_test.go
  frontend/src/components/BattleMapViewer.js
  frontend/src/components/CombatAutomation.js
  frontend/src/components/DMAssistant/LocationGenerator.js
  frontend/src/components/DMAssistant/NPCDialogue.js
  frontend/src/components/DMAssistant/StoryElements.js
  frontend/src/components/EncounterBuilder.js
  frontend/src/components/NarrativeEngine.js
  frontend/src/components/NarrativeEngine/StoryThreads.js
  frontend/src/components/WorldSimulation/FactionPersonalities.js
  frontend/src/hooks/useErrorHandler.ts
Due: backend-tests, go-fmt, frontend-lint

fix: resolve backend test compilation errors
  backend/internal/config/config_test.go
  backend/internal/handlers/websocket_integration_test.go
  backend/internal/middleware/recovery_new.go
  backend/internal/models/narrative.go
  backend/internal/services/living_ecosystem.go
Due: backend-tests, go-fmt

fix: resolve backend test compilation errors and type mismatches
  backend/internal/database/test_helpers_test.go
  backend/internal/database/world_building_repository_test.go
  backend/internal/handlers/auth_integration_test.go
  backend/internal/handlers/combat_integration_test.go
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/game_session_integration_test.go
  backend/internal/handlers/inventory_test.go
  backend/internal/handlers/test_helpers.go
  backend/internal/handlers/websocket_integration_test.go
  backend/internal/jobs/queue.go
  backend/internal/middleware/logging_v2_test.go
  backend/internal/models/world_building.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/game_test.go
  backend/internal/services/inventory_test.go
  backend/internal/services/settlement_generator.go
  backend/internal/testutil/integration/integration_helpers.go
  backend/pkg/logger/logger_enhanced_test.go
Due: backend-tests, go-fmt

fix: resolve all backend unit test failures
  backend/internal/services/game_session_test.go
  backend/internal/services/game_test.go
  backend/internal/services/settlement_generator_test.go
  backend/internal/services/user_test.go
  backend/internal/testutil/database.go
Due: backend-tests, go-fmt

fix: resolve CI/CD backend startup failure in production mode
  .github/workflows/ci.yml
Due: none

Path conditions:
  backend-tests: any of: ^backend/.*\.go$
  go-fmt: any of: ^backend/.*\.go$
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
