Repository ctclostio/DnD-Game: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, go-fmt, frontend-lint

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && go test ./... -short'
  language: system
  pass_filenames: false

go-fmt:
  name: Go Formatting
  entry: bash -c 'cd backend && gofmt -l . | grep . && exit 1 || exit 0'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

refactor: fix duplicate string literals in handlers
  backend/internal/constants/errors.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/character.go
  backend/internal/testutil/constants.go
Due: backend-tests, go-fmt

refactor: reduce cognitive complexity in multiple backend modules
  backend/CODE_SMELL_REFACTORING_PLAN.md
  backend/internal/cache/strategies.go
  backend/internal/health/db_pool_checker.go
  backend/internal/middleware/cache.go
  backend/internal/pagination/pagination.go
Due: backend-tests, go-fmt

fix: resolve SonarCloud code smells in Docker and test files
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.optimized
  backend/internal/auth/jwt_test.go
  backend/internal/database/character_repository_test.go
  backend/internal/database/inventory_repository_test.go
  backend/internal/database/user_repository_test.go
  backend/scripts/healthcheck.sh
Due: backend-tests, go-fmt

refactor: reduce complexity in critical backend methods
  backend/internal/database/rule_builder_repository.go
  backend/internal/database/user_repository.go
  backend/internal/database/world_building_repository.go
  backend/internal/game/combat_engine.go
Due: backend-tests, go-fmt

fix: resolve Docker security hotspots identified by SonarCloud
  DOCKER_SECURITY.md
  backend/.dockerignore
  backend/Dockerfile.optimized
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.optimized
  scripts/validate-docker-security.sh
Due: none

docs: add security hotspot resolution summary
  SECURITY_HOTSPOT_SUMMARY.md
Due: none

fix: resolve Docker write permissions security hotspots
  DOCKER_PERMISSIONS_SECURITY.md
  backend/Dockerfile
  backend/Dockerfile.optimized
  frontend/Dockerfile
  frontend/Dockerfile.optimized
  scripts/validate-docker-security.sh
Due: none

fix: eliminate glob patterns in Docker COPY commands for security
  DOCKER_GLOB_SECURITY.md
  frontend/Dockerfile
  frontend/Dockerfile.optimized
  scripts/validate-docker-security.sh
Due: none

fix: resolve insecure configuration security hotspots
  .gitignore
  SECURITY_CONFIGURATION.md
  backend/cmd/server/main.go
  backend/internal/auth/csrf.go
  backend/internal/config/config.go
  backend/internal/constants/game_constants.go
  backend/internal/constants/http.go
  backend/internal/constants/strings.go
  backend/internal/database/rule_builder_repository.go
  backend/internal/routes/routes.go
  backend/internal/testutil/secure_test_config.go
Due: backend-tests, go-fmt

fix: address CSRF cookie Secure flag security hotspot S2092
  COOKIE_SECURITY.md
  backend/internal/auth/csrf.go
  backend/internal/auth/csrf_security_test.go
Due: backend-tests, go-fmt

fix: resolve debug features in production security hotspot S4507
  .env.production.template
  .gitignore
  DOCKER_PRODUCTION_GUIDE.md
  README.md
  backend/Dockerfile.optimized
  docker-compose.production.yml
  frontend/Dockerfile
  frontend/Dockerfile.optimized
  frontend/webpack.prod.js
  scripts/build-production.sh
Due: frontend-lint

refactor: reduce cognitive complexity and fix SQL issues
  backend/cmd/server/main.go
  backend/internal/auth/csrf_security_test.go
  backend/internal/config/config.go
  backend/internal/database/migrations/002_create_characters_table.up.sql
  backend/internal/database/migrations/007_update_spell_slots_structure.down.sql
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 5
  backend/internal/database/migrations/008_create_npcs_table.up.sql
  backend/internal/database/migrations/020_create_rule_builder_tables.up.sql
  backend/internal/handlers/auth_integration_test.go
  backend/internal/handlers/campaign.go
  backend/internal/handlers/character_creation.go
  backend/internal/handlers/character_integration_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 6
  backend/internal/database/migrations/020_create_rule_builder_tables.up.sql
  backend/internal/handlers/character_integration_test.go
  backend/internal/handlers/character_v2.go
  backend/internal/handlers/combat.go
  backend/internal/handlers/combat_automation.go
  backend/internal/handlers/combat_test.go
  backend/internal/handlers/custom_race.go
  backend/internal/handlers/dice_test.go
  backend/internal/handlers/emergent_world.go
  backend/internal/handlers/encounter.go
  backend/internal/handlers/errors.go
  backend/internal/handlers/game.go
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/game_test.go
  backend/internal/handlers/health_new.go
  backend/internal/handlers/inventory_test.go
  backend/internal/handlers/narrative.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells
  backend/internal/database/migrations/008_create_npcs_table.up.sql
  backend/internal/handlers/character_test.go
  backend/internal/handlers/dice_test.go
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/game_session_integration_test.go
  backend/internal/handlers/inventory_test.go
  backend/internal/handlers/narrative.go
  backend/internal/handlers/npc.go
  backend/internal/handlers/rule_builder.go
  backend/internal/handlers/skill_check.go
  backend/internal/handlers/world_building.go
  backend/internal/middleware/error_handler.go
  backend/internal/middleware/error_handler_v2.go
  backend/internal/middleware/logging.go
  backend/internal/middleware/validation_test.go
  backend/internal/routes/character.go
  backend/internal/routes/npc.go
  backend/internal/routes/rule_builder.go
  backend/internal/routes/world_building.go
Due: backend-tests, go-fmt

fix: resolve all remaining critical SonarCloud code smells
  backend/internal/database/migrations/020_create_rule_builder_tables.up.sql
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/inventory_test.go
  backend/internal/handlers/narrative.go
  backend/internal/handlers/npc.go
  backend/internal/handlers/skill_check.go
  backend/internal/handlers/websocket_integration_test.go
  backend/internal/middleware/error_handler_v2.go
  backend/internal/services/ai_class_generator_test.go
  backend/internal/services/ai_dm_assistant_test.go
  backend/internal/services/ai_encounter_builder.go
  backend/internal/services/ai_narrative_engine.go
  backend/internal/services/campaign_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 7
  backend/internal/middleware/error_handler_gin.go
  backend/internal/middleware/logging_v2.go
  backend/internal/middleware/logging_v2_test.go
  backend/internal/middleware/recovery_new.go
  backend/internal/services/ai_class_generator_test.go
  backend/internal/services/ai_encounter_builder.go
  backend/internal/services/campaign_test.go
  backend/internal/services/character_builder.go
  backend/internal/services/character_test.go
  backend/internal/services/combat.go
  backend/internal/services/combat_analytics.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 4
  backend/internal/middleware/logging_v2_test.go
  backend/internal/services/ai_dm_assistant_test.go
  backend/internal/services/campaign_test.go
  backend/internal/services/character_test.go
  backend/internal/services/combat_analytics_test.go
  backend/internal/services/combat_automation.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 5
  backend/internal/services/combat_automation_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 6
  backend/internal/services/inventory_test.go
  backend/internal/services/npc_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells across test files
  backend/internal/services/combat_analytics_test.go
  backend/internal/services/combat_automation_test.go
  backend/internal/services/dice_roll_test.go
  backend/internal/services/game_session_test.go
  backend/internal/services/inventory_test.go
  backend/internal/services/npc_test.go
  backend/internal/services/test_helpers_test.go
  backend/internal/services/user.go
  backend/internal/services/user_test.go
  backend/internal/services/world_event_engine_test.go
  backend/internal/testutil/http_test_utils.go
  backend/pkg/logger/logger_test.go
Due: backend-tests, go-fmt

fix: resolve additional SonarCloud code smells
  backend/internal/services/combat_analytics.go
  backend/internal/services/custom_race_test.go
  backend/internal/services/encounter.go
  backend/internal/services/encounter_test.go
  backend/internal/services/faction_personality.go
  backend/internal/services/game_session.go
  backend/internal/services/test_helpers_test.go
  backend/internal/services/user_test.go
Due: backend-tests, go-fmt

fix: resolve all remaining critical SonarCloud code smells
  backend/cmd/server/main.go
  backend/internal/services/custom_race_test.go
  backend/internal/services/encounter_test.go
  backend/internal/services/settlement_generator_test.go
  backend/internal/services/user_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 8
  backend/internal/constants/strings.go
  backend/internal/middleware/logging_v2_test.go
  backend/internal/services/character_test.go
  backend/internal/services/combat_analytics_test.go
  backend/internal/services/inventory_test.go
  backend/internal/services/npc_test.go
  backend/internal/services/user_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 9
  backend/internal/services/custom_race_test.go
  backend/internal/services/procedural_culture.go
  backend/internal/services/user_test.go
  backend/pkg/logger/logger_enhanced_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 10
  backend/internal/services/campaign_test.go
  backend/internal/services/combat_automation.go
  backend/internal/services/custom_race.go
  backend/internal/services/custom_race_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 11
  backend/internal/services/conditional_reality.go
Due: backend-tests, go-fmt

fix: resolve high severity SonarCloud code smells
  backend/internal/handlers/encounter.go
  backend/internal/services/encounter.go
  frontend/src/components/Modal.tsx
  frontend/src/components/WorldSimulation/CultureExplorer.js
  frontend/src/components/WorldSimulation/FactionPersonalities.js
Due: backend-tests, go-fmt, frontend-lint

fix: correct React Hook order violation in Modal component
  frontend/src/components/Modal.tsx
Due: frontend-lint

fix: resolve critical SonarCloud code smells for duplicated literals
  backend/internal/services/game_test.go
  backend/internal/services/inventory.go
Due: backend-tests, go-fmt

refactor: reduce cognitive complexity in critical methods
  backend/internal/services/faction_system.go
  backend/internal/services/game_test.go
Due: backend-tests, go-fmt

fix: resolve SonarCloud code quality issues
  backend/Dockerfile.optimized
  backend/internal/database/custom_race_repository.go
  backend/internal/handlers/auth_integration_test.go
Due: backend-tests, go-fmt

feat: implement all pending TODO database operations
  backend/internal/database/combat_analytics_repository.go
  backend/internal/database/narrative_repository.go
  backend/internal/database/pagination_helpers.go
Due: backend-tests, go-fmt

fix: resolve remaining critical SonarCloud code smells
  backend/internal/database/combat_analytics_repository.go
  backend/internal/services/dm_assistant.go
  backend/internal/services/dm_assistant_test.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/eventbus.go
  backend/internal/services/faction_system.go
  backend/internal/services/game.go
  backend/internal/services/game_test.go
Due: backend-tests, go-fmt

fix: resolve multiple critical SonarCloud code smells
  backend/internal/services/game_test.go
  backend/internal/services/inventory.go
  backend/internal/services/inventory_test.go
  backend/internal/services/living_ecosystem.go
  backend/internal/services/llm_providers.go
  backend/internal/services/procedural_culture.go
Due: backend-tests, go-fmt

fix: resolve final SonarCloud code smell issues
  backend/internal/services/settlement_generator_test.go
  backend/internal/services/world_event_engine.go
  backend/pkg/errors/errors_test.go
  backend/pkg/logger/logger_enhanced_test.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 1
  backend/pkg/logger/logger_enhanced_test.go
  backend/pkg/logger/logger_test.go
  frontend/src/components/BattleMapViewer.js
  frontend/src/components/CharacterBuilder/__tests__/CharacterBuilder.test.tsx
  frontend/src/components/CombatAutomation.js
  frontend/src/components/CombatView.js
  frontend/src/components/EncounterBuilder.js
  frontend/src/index.js
Due: backend-tests, go-fmt, frontend-lint

fix: resolve critical SonarCloud code smells batch 2
  frontend/src/components/NarrativeEngine/PerspectiveViewer.js
  frontend/src/components/RuleBuilder/PropertyPanel.js
  frontend/src/components/WorldBuilder/SettlementDetails.js
Due: frontend-lint

fix: resolve critical SonarCloud code smells batch 3
  frontend/src/hooks/useOptimizedState.ts
  frontend/src/store/middleware/undoMiddleware.ts
  frontend/src/store/middleware/websocketMiddleware.ts
  frontend/src/store/slices/__tests__/authSlice.test.ts
  frontend/src/store/slices/__tests__/dmToolsSlice.test.ts
  frontend/src/store/slices/__tests__/gameSessionSlice.test.ts
  frontend/src/store/slices/__tests__/uiSlice.test.ts
Due: frontend-lint

fix: resolve critical SonarCloud code smells in frontend
  frontend/src/components/NarrativeEngine/PerspectiveViewer.js
  frontend/src/store/slices/__tests__/authSlice.test.ts
  frontend/src/store/slices/__tests__/dmToolsSlice.test.ts
  frontend/src/store/slices/__tests__/gameSessionSlice.test.ts
  frontend/src/store/slices/__tests__/uiSlice.test.ts
Due: frontend-lint

Path conditions:
  backend-tests: any of: ^backend/.*\.go$
  go-fmt: any of: ^backend/.*\.go$
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
