Repository ctclostio/DnD-Game: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, go-fmt, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks - run tests before committing
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && go test ./... -short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$

      - id: go-fmt
        name: Go Formatting
        entry: bash -c 'cd backend && gofmt -l . | grep . && exit 1 || exit 0'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$

      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(js|jsx|ts|tsx)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']

fix: resolve golangci-lint errors for clean CI pipeline
  backend/internal/database/custom_race_repository.go
  backend/internal/services/character_builder_test.go
  backend/internal/services/combat_analytics.go
  backend/internal/services/combat_automation.go
  backend/internal/services/settlement_generator.go
Due: backend-tests, go-fmt

chore: add script to convert files to UTF-8
  convert_to_utf8.sh
Due: none

fix: remove extra return value in generateShop fallback
  backend/internal/services/settlement_generator.go
Due: backend-tests, go-fmt

chore: add PowerShell script for UTF-8 file conversion
  ConvertTo-Utf8.ps1
Due: none

fix: resolve all golangci-lint errors for clean CI
  backend/internal/database/emergent_world_repository.go
  backend/internal/database/encounter_repository.go
  backend/internal/database/game_session_repository.go
  backend/internal/handlers/character_test.go
  backend/internal/handlers/dice_test.go
  backend/internal/handlers/game_test.go
  backend/internal/handlers/inventory_test.go
  backend/internal/handlers/npc.go
  backend/internal/services/ai_balance_analyzer.go
  backend/internal/services/combat_analytics.go
  backend/internal/services/combat_automation.go
  backend/internal/services/dm_assistant.go
  backend/internal/services/llm_providers.go
  backend/internal/services/settlement_generator.go
Due: backend-tests, go-fmt

fix: resolve remaining golangci-lint errors
  backend/internal/handlers/dice_test.go
  backend/internal/handlers/game_test.go
  backend/internal/handlers/inventory_test.go
  backend/internal/services/settlement_generator.go
Due: backend-tests, go-fmt

fix: skip files git considers binary in ConvertTo-Utf8.ps1 using check-attr
  ConvertTo-Utf8.ps1
Due: none

fix: resolve file paths from repo root to handle subdirectory execution
  ConvertTo-Utf8.ps1
Due: none

Fix authSlice TypeScript errors
  .gitignore
  frontend/src/store/slices/authSlice.ts
Due: frontend-lint

fix: resolve golangci-lint errors in test files
  backend/internal/handlers/game_test.go
  backend/internal/handlers/inventory_test.go
Due: backend-tests, go-fmt

docs: update SQL migration summary and finalize test restoration
  backend/SQL_MIGRATION_SUMMARY.md
  backend/internal/services/combat_test.go.skip
  backend/internal/services/game_session_test.go
Due: backend-tests, go-fmt

Fix join session and initiative tests
  backend/SQL_MIGRATION_SUMMARY.md
  backend/internal/services/combat_automation_test.go
  backend/internal/services/game_session_test.go
Due: backend-tests, go-fmt

Fix service defaults and skip unstable integration tests
  backend/internal/handlers/combat_integration_test.go
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/game_session_integration_test.go
  backend/internal/middleware/error_handler_test.go
  backend/internal/middleware/logging_v2.go
  backend/internal/middleware/ratelimit.go
  backend/internal/middleware/recovery.go
  backend/internal/middleware/recovery_new.go
  backend/internal/middleware/security.go
  backend/internal/middleware/validation.go
  backend/internal/middleware/validation_v2.go
  backend/internal/services/ai_balance_analyzer.go
  backend/internal/services/game_session.go
  backend/internal/services/game_session_test.go
Due: backend-tests, go-fmt

fix: update game_security_test.go to handle new error response format
  backend/internal/handlers/game_security_test.go
Due: backend-tests, go-fmt

fix: correct import path in crdt.go to resolve golangci-lint error
  backend/cmd/server/main.go
  backend/internal/database/custom_class_repository.go
  backend/internal/database/custom_race_repository.go
  backend/internal/database/dice_roll_repository.go
  backend/internal/database/dm_assistant_repository.go
  backend/internal/database/emergent_world_repository.go
  backend/internal/database/encounter_repository.go
  backend/internal/database/game_session_repository.go
  backend/internal/database/migrations/019_create_narrative_engine_tables.up.sql
  backend/internal/database/migrations/020_create_rule_builder_tables.up.sql
  backend/internal/database/migrations/021_create_emergent_world_tables.up.sql
  backend/internal/database/rule_builder_repository.go
  backend/internal/handlers/character_test.go
  backend/internal/handlers/game_test.go
  backend/internal/handlers/inventory_test.go
  backend/internal/routes/crdt.go
  backend/internal/services/ai_campaign_manager.go
  backend/internal/services/combat_analytics.go
  backend/internal/services/dice_roll.go
  backend/internal/services/game_session.go
  backend/internal/testutil/helpers.go
  frontend/cookies.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/public/styles.css
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/services/auth.ts
  frontend/src/store/slices/authSlice.ts
  frontend/webpack.dev.js
Due: backend-tests, go-fmt, frontend-lint

fix: resolve errcheck lint errors for unchecked error returns
  backend/internal/crdt/ws.go
  backend/internal/database/dm_assistant_repository.go
  backend/internal/game/combat_engine.go
  backend/pkg/errors/errors_test.go
  backend/pkg/validation/validator.go
Due: backend-tests, go-fmt

fix: correct return values in DamageRoll error handling
  backend/internal/game/combat_engine.go
Due: backend-tests, go-fmt

fix: ignore json.Unmarshal errors in dm_assistant_repository
  backend/internal/database/dm_assistant_repository.go
Due: backend-tests, go-fmt

fix: resolve final json.Unmarshal errcheck errors
  backend/internal/database/dm_assistant_repository.go
  backend/internal/database/emergent_world_repository.go
Due: backend-tests, go-fmt

fix: update CI workflow to use correct database env variables
  .github/workflows/ci.yml
Due: none

fix: resolve JWT secret length and remaining json.Unmarshal errors
  .github/workflows/ci.yml
  backend/internal/database/emergent_world_repository.go
Due: backend-tests, go-fmt

fix: resolve SQL migration and final json.Unmarshal errors
  backend/internal/database/encounter_repository.go
  backend/internal/database/migrations/019_create_narrative_engine_tables.up.sql
Due: backend-tests, go-fmt

fix: rename world_events to narrative_world_events to avoid table conflict
  backend/internal/database/migrations/019_create_narrative_engine_tables.down.sql
  backend/internal/database/migrations/019_create_narrative_engine_tables.up.sql
Due: none

fix: rename emergent world_events table to avoid conflicts
  backend/internal/database/emergent_world_repository.go
  backend/internal/database/migrations/021_create_emergent_world_tables.down.sql
  backend/internal/database/migrations/021_create_emergent_world_tables.up.sql
Due: backend-tests, go-fmt

fix: handle remaining json.Unmarshal errcheck errors in encounter_repository
  backend/internal/database/encounter_repository.go
Due: backend-tests, go-fmt

fix: handle remaining errcheck errors in npc_repository and inventory_repository
  backend/internal/database/inventory_repository.go
  backend/internal/database/npc_repository.go
Due: backend-tests, go-fmt

fix: handle all remaining json.Unmarshal errors in npc_repository
  backend/internal/database/npc_repository.go
Due: backend-tests, go-fmt

fix: resolve remaining errcheck linter issues
  backend/internal/database/world_building_repository.go
  backend/internal/testutil/integration_helpers.go
  backend/internal/websocket/handler.go
Due: backend-tests, go-fmt

fix: handle errcheck errors in middleware and websocket files
  backend/internal/middleware/error_handler.go
  backend/internal/websocket/handler_v2.go
  backend/internal/websocket/hub.go
Due: backend-tests, go-fmt

fix: handle c.Error errcheck in error_handler_test.go
  backend/internal/middleware/error_handler_test.go
Due: backend-tests, go-fmt

fix: handle remaining errcheck errors in test files
  backend/internal/middleware/error_handler_test.go
  backend/internal/middleware/validation_test.go
Due: backend-tests, go-fmt

fix: handle errcheck errors in combat_analytics and validation_v2
  backend/internal/middleware/validation_v2.go
  backend/internal/services/combat_analytics.go
Due: backend-tests, go-fmt

fix: handle all remaining errcheck errors in service files
  backend/internal/services/combat_analytics.go
  backend/internal/services/combat_automation.go
  backend/internal/services/economic_simulator.go
Due: backend-tests, go-fmt

fix: handle errcheck errors in encounter service
  backend/internal/services/encounter.go
Due: backend-tests, go-fmt

fix: handle all remaining CreateEvent and CreateObjective errcheck errors
  backend/internal/services/encounter.go
Due: backend-tests, go-fmt

fix: handle final errcheck errors and fix Go version compatibility
  backend/internal/services/faction_personality.go
  backend/internal/services/faction_system.go
  backend/internal/services/game_test.go
  backend/internal/services/living_ecosystem.go
  go.mod
Due: backend-tests, go-fmt

fix: downgrade golangci-lint to v1.61.0 for Go 1.23 compatibility
  .github/workflows/ci.yml
  go.mod
Due: none

fix: handle final batch of errcheck errors
  backend/internal/services/living_ecosystem.go
  backend/internal/services/procedural_culture.go
  backend/internal/services/rule_engine.go
  backend/internal/services/settlement_generator.go
  backend/internal/services/world_event_engine.go
Due: backend-tests, go-fmt

fix: correct GenerateWorldEvent return value handling
  backend/internal/services/world_event_engine.go
Due: backend-tests, go-fmt

fix: handle errcheck errors in handler files
  backend/internal/handlers/character.go
  backend/internal/handlers/character_creation.go
  backend/internal/handlers/narrative.go
  backend/internal/services/world_event_engine.go
Due: backend-tests, go-fmt
