Repository ctclostio/DnD-Game: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, go-fmt, frontend-lint

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && go test ./... -short'
  language: system
  pass_filenames: false

go-fmt:
  name: Go Formatting
  entry: bash -c 'cd backend && gofmt -l . | grep . && exit 1 || exit 0'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix(security): prevent XSS by safely rendering window.location.href in test.html
  frontend/public/test.html
Due: none

fix: critical security vulnerabilities
  .github_token
  backend/internal/services/user_test.go
  frontend/public/test.html
Due: backend-tests, go-fmt

Refactor: Address cognitive complexity and duplicate literals
  backend/internal/auth/csrf.go
  backend/internal/auth/jwt_test.go
  backend/internal/config/config_test.go
  backend/internal/crdt/ws.go
Due: backend-tests, go-fmt

feat: complete Phase 2 production readiness improvements
  PENDING_IMPROVEMENTS.md
  PRODUCTION_READINESS_SUMMARY.md
  backend/docs/API_CACHING_GUIDE.md
  backend/docs/PAGINATION_GUIDE.md
  backend/internal/cache/strategies.go
  backend/internal/database/pagination_helpers.go
  backend/internal/handlers/pagination_examples.go
  backend/internal/middleware/cache.go
  backend/internal/pagination/pagination.go
  docs/DOCKER_OPTIMIZATION_GUIDE.md
  frontend/docker/runtime-env.sh
  helm/dnd-game/Chart.yaml
  helm/dnd-game/values.yaml
  k8s/README.md
  k8s/backend.yaml
  k8s/base/kustomization.yaml
  k8s/configmap.yaml
  k8s/frontend.yaml
  k8s/ingress.yaml
  k8s/kustomization.yaml
  k8s/namespace.yaml
  k8s/overlays/dev/deployment-patch.yaml
  k8s/overlays/dev/kustomization.yaml
  k8s/overlays/dev/namespace.yaml
  k8s/overlays/prod/kustomization.yaml
  k8s/overlays/prod/namespace.yaml
  k8s/overlays/prod/network-policy.yaml
  k8s/postgres.yaml
  k8s/redis.yaml
  k8s/secret.yaml
Due: backend-tests, go-fmt

fix: resolve Kubernetes security vulnerabilities
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/overlays/dev/deployment-patch.yaml
  k8s/postgres.yaml
  k8s/rbac.yaml
  k8s/redis.yaml
Due: none

fix: disable service account automounting in dev overlays
  k8s/overlays/dev/deployment-patch.yaml
Due: none

fix: address critical security issues and improve code quality
  backend/internal/testutil/secure_test_config.go
  e2e/fixtures/base.ts
  e2e/fixtures/test-config.ts
  e2e/pages/CombatPage.ts
  e2e/tests/combat-encounter.spec.ts
Due: backend-tests, go-fmt

fix: replace weak cryptography with secure alternatives
  backend/internal/database/emergent_world_repository.go
  backend/pkg/dice/roller.go
  backend/pkg/game/random.go
  backend/pkg/security/random.go
  backend/pkg/security/random_test.go
Due: backend-tests, go-fmt

fix: resolve build errors and import issues
  backend/internal/cache/redis.go
  backend/internal/cache/strategies.go
  backend/internal/database/emergent_world_repository.go
  backend/internal/database/pagination_helpers.go
  backend/internal/handlers/pagination_examples.go
  backend/internal/testutil/secure_test_config.go
Due: backend-tests, go-fmt

fix: resolve remaining compilation errors in backend
  CLAUDE.md
  backend/internal/crdt/ws.go
  backend/internal/handlers/pagination_examples.go
  backend/internal/services/interfaces_job.go
Due: backend-tests, go-fmt

fix: resolve remaining compilation errors in backend
  backend/internal/handlers/pagination_examples.go
  backend/internal/jobs/handlers.go
  backend/internal/services/interfaces_job.go
  backend/internal/services/user_test.go
Due: backend-tests, go-fmt

fix: critical security vulnerability in game session code generation
  backend/cmd/server/main.go
  backend/internal/services/game_session.go
Due: backend-tests, go-fmt

fix: resolve lint errors for unused variables and imports
  backend/internal/handlers/pagination_examples.go
  backend/internal/middleware/cache.go
Due: backend-tests, go-fmt

fix: resolve golangci-lint redis package loading error
  backend/internal/cache/redis.go
  backend/internal/handlers/pagination_examples.go
  backend/internal/jobs/queue.go
  go.mod
  go.sum
Due: backend-tests, go-fmt

fix: comprehensive backend lint fixes
  backend/internal/cache/strategies.go
  backend/internal/crdt/ws.go
  backend/internal/database/pagination_helpers.go
  backend/internal/database/production_pool.go
  backend/internal/database/scan_helpers.go
  backend/internal/health/db_pool_checker.go
  backend/internal/jobs/handlers.go
  backend/internal/middleware/cache.go
  backend/internal/pagination/pagination.go
  backend/internal/services/economic_simulator.go
  backend/internal/services/faction_personality.go
  backend/internal/services/settlement_generator.go
  backend/internal/services/test_helpers_test.go
  backend/internal/services/user_test.go
  backend/internal/testutil/database.go
  backend/internal/testutil/mocks/llm_provider.go
  backend/internal/testutil/secure_test_config.go
  backend/lint-output.txt
  backend/pkg/game/random.go
  backend/pkg/logger/logger_test.go
Due: backend-tests, go-fmt

fix: resolve SonarCloud security hotspots
  backend/Dockerfile
  backend/internal/auth/jwt_test.go
  backend/internal/services/ai_battle_map_generator.go
  backend/internal/testutil/integration_helpers.go
  e2e/pages/CombatPage.ts
  e2e/tests/combat-encounter.spec.ts
  frontend/Dockerfile
  frontend/src/hooks/__tests__/useErrorHandler.test.tsx
  frontend/src/i18n/translations/en.ts
  frontend/src/i18n/translations/es.ts
  frontend/src/store/slices/__tests__/authSlice.test.ts
Due: backend-tests, go-fmt, frontend-lint

fix: resolve SonarCloud security hotspots
  BRANCH_CLEANUP_SUMMARY.md
  SECURITY_FIXES_IMPLEMENTED.md
  SECURITY_HOTSPOT_ANALYSIS.md
  backend/Dockerfile
  backend/Dockerfile.optimized
  e2e/pages/CombatPage.ts
  e2e/tests/combat-encounter.spec.ts
  frontend/Dockerfile
  frontend/Dockerfile.optimized
Due: none

docs: explain SonarCloud hotspot resolution process
  SONARCLOUD_HOTSPOT_RESOLUTION.md
Due: none

docs: add final SonarCloud security hotspot status
  SONARCLOUD_FINAL_STATUS.md
Due: none

refactor: extract duplicate string literals to constants in test files
  SONARCLOUD_ISSUES_ANALYSIS.md
  backend/internal/handlers/game_session_integration_test.go
  backend/internal/handlers/test_constants.go
  backend/internal/services/game_session_test.go
  backend/internal/services/testutil/test_constants.go
Due: backend-tests, go-fmt

refactor: reduce cognitive complexity in combat analytics and tests
  backend/internal/services/combat_analytics.go
  backend/internal/services/settlement_generator_test.go
Due: backend-tests, go-fmt

refactor: eliminate duplicate string literals across backend
  backend/internal/constants/http.go
  backend/internal/constants/routes.go
  backend/internal/constants/test.go
  backend/internal/database/pagination_helpers.go
  backend/internal/handlers/auth_integration_test.go
  backend/internal/handlers/campaign.go
  backend/internal/handlers/character_creation.go
  backend/internal/handlers/character_integration_test.go
  backend/internal/handlers/character_test.go
  backend/internal/handlers/combat_integration_test.go
  backend/internal/handlers/combat_test.go
  backend/internal/handlers/dice_test.go
  backend/internal/handlers/game.go
  backend/internal/handlers/game_security_test.go
  backend/internal/handlers/game_test.go
  backend/internal/handlers/handler_helpers.go
  backend/internal/handlers/health.go
  backend/internal/handlers/health_new.go
  backend/internal/handlers/inventory_helpers.go
  backend/internal/handlers/inventory_test.go
  backend/internal/handlers/narrative.go
  backend/internal/handlers/npc.go
  backend/internal/handlers/pagination_examples.go
  backend/internal/handlers/rule_builder.go
  backend/internal/handlers/skill_check.go
  backend/internal/handlers/swagger.go
  backend/internal/handlers/test_constants.go
  backend/internal/handlers/websocket_integration_test.go
  backend/internal/pagination/pagination.go
  backend/internal/services/dice_roll_test.go
  backend/internal/services/inventory_test.go
  backend/internal/services/settlement_generator_test.go
  frontend/src/components/CharacterBuilder/__tests__/CharacterBuilder.test.tsx
  frontend/src/hooks/useOptimizedState.ts
Due: backend-tests, go-fmt, frontend-lint

refactor: reduce cognitive complexity and fix code duplication
  backend/internal/cache/strategies.go
  backend/internal/handlers/game_test.go
  backend/internal/middleware/cache.go
  backend/internal/pagination/pagination.go
  backend/internal/services/ai_dm_assistant_test.go
  backend/internal/testutil/mock_factory.go
  frontend/src/components/WorldSimulation/CultureExplorer.js
Due: backend-tests, go-fmt, frontend-lint

fix: reduce code duplication in Go mock implementations
  backend/internal/handlers/game_test.go
  backend/internal/services/combat_analytics_test.go
  backend/internal/services/mocks/repositories.go
  backend/internal/services/world_event_engine_test.go
  frontend/fix-accessibility.js
  frontend/src/components/RuleBuilder.js
  frontend/src/components/WebSocketErrorBoundary.tsx
  frontend/src/components/WorldSimulation/FactionPersonalities.js
  frontend/src/i18n/index.ts
  frontend/src/styles/character-builder.css
  frontend/src/styles/world-simulation.css
Due: backend-tests, go-fmt, frontend-lint

fix: resolve critical SonarCloud code smells
  backend/Dockerfile.optimized
  backend/internal/constants/test.go
  backend/internal/health/db_pool_checker.go
  backend/internal/jobs/handlers.go
  backend/internal/jobs/queue.go
  backend/internal/services/inventory_test.go
  backend/pkg/security/random_test.go
  frontend/Dockerfile.optimized
  k8s/backend.yaml
  k8s/frontend.yaml
Due: backend-tests, go-fmt

fix: resolve additional SonarCloud critical code smells
  backend/internal/database/rule_builder_repository.go
  backend/internal/handlers/game_security_test.go
  backend/internal/middleware/recovery.go
  backend/internal/services/procedural_culture.go
  backend/internal/websocket/hub.go
  frontend/src/pages/Register.tsx
Due: backend-tests, go-fmt, frontend-lint

fix: resolve critical SonarCloud code smells batch 3
  backend/internal/auth/jwt_test.go
  backend/internal/config/config_test.go
  backend/internal/handlers/game_test.go
  backend/internal/handlers/inventory_test.go
  backend/internal/handlers/narrative.go
Due: backend-tests, go-fmt

fix: resolve critical SonarCloud code smells batch 4
  backend/internal/handlers/narrative.go
  backend/internal/services/combat_analytics.go
Due: backend-tests, go-fmt

refactor: fix cognitive complexity and duplicate strings in backend
  backend/internal/handlers/narrative.go
  backend/internal/services/living_ecosystem.go
  backend/internal/testhelpers/http_helpers.go
  backend/pkg/logger/logger_test.go
Due: backend-tests, go-fmt

security: add .dockerignore to prevent sensitive files in Docker images
  .dockerignore
Due: none

security: fix weak cryptography warnings and use GitHub secrets
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  GITHUB_SECRETS_SETUP.md
  backend/SECURITY_CRYPTOGRAPHY_AUDIT.md
  backend/internal/services/living_ecosystem.go
Due: backend-tests, go-fmt

security: remove fallback passwords from CI workflows
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  GITHUB_SECRETS_SETUP.md
Due: none

security: fix remaining hardcoded secrets in CI workflow
  .github/workflows/ci.yml
Due: none

security: suppress remaining PRNG false positives in faction relationships
  backend/internal/services/living_ecosystem.go
Due: backend-tests, go-fmt

docs: add PRNG false positives documentation
  backend/PRNG_FALSE_POSITIVES.md
Due: none

refactor: add constants to reduce code duplication
  backend/internal/constants/errors.go
  backend/internal/constants/strings.go
  backend/internal/database/query_helpers.go
  backend/internal/testutil/constants.go
Due: backend-tests, go-fmt

docs: add code smell refactoring plan and progress tracking
  backend/CODE_SMELL_REFACTORING_PLAN.md
Due: none

refactor: replace duplicate error strings with constants in narrative handler
  backend/internal/handlers/narrative.go
Due: backend-tests, go-fmt

refactor: fix duplicate string literals in database layer
  backend/internal/constants/errors.go
  backend/internal/database/character_repository.go
  backend/internal/database/character_repository_test.go
  backend/internal/database/emergent_world_repository.go
  backend/internal/database/game_session_repository.go
  backend/internal/database/inventory_repository_test.go
  backend/internal/database/migrate.go
  backend/internal/database/narrative_repository.go
  backend/internal/database/query_helpers.go
  backend/internal/database/user_repository_test.go
  backend/internal/testutil/constants.go
Due: backend-tests, go-fmt

Path conditions:
  backend-tests: any of: ^backend/.*\.go$
  go-fmt: any of: ^backend/.*\.go$
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
